bunch==1.0.1
fire==0.2.1
numpy==1.17.4
opencv-python==4.1.2.30
pandas==0.24.2
progressbar2==3.50.0
requests==2.22.0
requests-oauthlib==1.3.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.3
selectivesearch==0.4
tornado==6.0.3
urllib3==1.25.7